* {
    margin: 0;
    padding: 0;
    font-family: 'Gill Sans', 'Gill Sans MT', Calibri, 'Trebuchet MS', sans-serif;
}


#wrapper {
    width: 100%;
    margin: 1% auto;
    background-color: rgb(230, 229, 229);
}

#cap {
    width: 80%;
    margin: auto;
    margin-bottom: 0;
    border: solid 1px black;
    padding: 10px;
    background-color: rgb(237, 175, 95);
    border-radius: 40px 40px 0px 0px;
    border: solid 2px black;
    text-align: center;
}

#cap h1 {
    margin: 10px;
}

#cap h2 {
    margin: 0 30% 0 30%;
    padding: 10px;
    background-color: #bfff9a;
    border-radius: 50px;
    border: solid 2px #91c474;
}

#contenedor_registro {
    display: flex;
    justify-content: center;
    margin: 1%;
}

.fecha_estilos {
    text-align: center;
    color: #3d891b;
    margin: 1%;
    padding: 10px;
    font-size: 17px;
    font-weight: bold;
    background-color: white;
    border: 4px solid #3d891b;
    border-radius: 30px;
}

#form_login {
    width: 80%;
    margin: auto;
    margin-top: 0;
    border: solid 2px black;
    padding: 10px;
    background-color: #82e1a6;
    display: flex;
}

#form_login form {
    position: relative;
    border: solid 4px #176433;
    width: 60%;
    margin: 10px auto;
    border-radius: 20px;
    font-weight: bold;
}

#seccion_login {
    display: flex;
    flex-wrap: wrap;
    gap: 10px;
    padding: 20px;

}

#palabra_login {
    position: absolute;
    top: -18px;
    left: 20px;
    background-color: white;
    padding: 3px 10px;
    border: solid 4px #176433;
    border-radius: 10px;
    font-weight: bold;
}

.missatgeError {
    border: solid 4px red;
    padding: 10px;
    color: red;
    background-color: white;
    text-align: center;
    border-radius: 15px;
    margin: auto;
}

#missatgeBenvinguda {
    color: red;
    font-weight: bold;
    font-size: larger;
    text-decoration: underline;
}

#menu {
    width: 80%;
    margin: auto;
    margin-top: 0;
    border: solid 2px black;
    padding: 10px;
    background-color: #e7f3a1;
    border-radius: 0px 0px 40px 40px;
}

#menu ul {
    width: 100%;
    align-items: center;
    list-style-type: none;
    display: flex;
    gap: 50px;
    justify-content: center;
}

#menu ul li {
    width: 13%;
    text-align: center;
    margin: 10px;
    padding: 15px;
    background-color: aqua;
    border: solid 2px rgb(0, 129, 129);
}

#menu a {
    text-decoration: none;
    color: inherit;
    font-weight: bold;
    color: blue;
}

#principal {
    width: 80%;
    margin: 10px auto 10px auto;
    border: solid 2px black;
    padding: 10px;
    background-color: white;
    text-align: center;
    border-radius: 10px;
}

#principal img {
    margin: 5px;
    border: 2px solid #ff7070;
    border-radius: 10px;
}

#principal ul li {
    margin-bottom: 10px;
}

#peu {
    width: 80%;
    margin: 10px auto 10px auto;
    border: solid 2px black;
    padding: 10px;
    background-color: #e7f3a1;
    border-radius: 0px 0px 40px 40px;
    text-align: center;

}

#peu p {
    width: 50%;
    margin: 10px auto 10px auto;
}

#peu img {
    width: 20%;
}

/* partials */

#inici {
    width: 80%;
    margin: 10px auto 10px auto;
    border: solid 2px black;
    padding: 10px;
    background-color: white;
    text-align: center;
    border-radius: 40px 40px 0px 0px;
}

#inici h2 {
    background-color: #ff8170;
    border: solid 2px black;
    padding: 15px;
    margin: 0 25% 0 25%;
}

#benvinguda {
    background-color: #e7f3a1;
    border: solid 2px black;
    margin: 10px auto 10px auto;
}

#benvinguda h3 {
    background-color: rgb(195, 195, 255);
    margin: 1% 30% 1% 30%;
    padding: 15px;
    border: solid 2px black;

}

#benvinguda img {
    width: 70%;
}

#frutas {
    background-color: white;
    border-radius: 40px;
    margin: 15px;
    padding: 15px;
}


#botiga,
#administracio,
#canviImatge {
    width: 80%;
    margin: 10px auto 10px auto;
    border: solid 2px black;
    padding: 10px;
    background-color: white;    
    text-align: center;
    border-radius: 40px 40px 0px 0px;
}

#botiga h2,
#administracio h2,
#canviImatge h2 {
    background-color: #ff8170;
    border: solid 2px black;
    padding: 15px;
    margin: 0 25% 0 25%;
}

#construccio,
#admin,
#cambioFoto {
    background-color: #e7f3a1;
    border: solid 2px black;
    margin: 10px auto 10px auto;
}

#construccio h3 {
    background-color: rgb(195, 195, 255);
    margin: 1% 30% 1% 30%;
    padding: 15px;
    border: solid 2px black;

}

#img_construccio,
#img_admin {
    background-color: white;
    border-radius: 40px;
    margin: 15px;
    padding: 15px;
}

#img_construccio img,
#img_admin img {
    width: 40%;
}

#tabla {
    margin: 20px;
    display: flex;
    justify-content: center;
}

table {
    text-align: center;
    border-collapse: collapse;
    border: 2px solid black;
}

table td,
table th {
    padding: 10px;
    margin: 1px;
}

table td {
    background-color: rgb(231, 231, 231);
}

table th {
    background-color: rgb(255, 219, 152);
}

.estilo_admin {
    background-color: white;
    color: gray;
    font-style: italic;
}

#registre,
#contacte {
    width: 80%;
    margin: 10px auto 10px auto;
    border: solid 2px black;
    padding: 10px;
    background-color: white;
    text-align: center;
    border-radius: 40px 40px 0px 0px;
}

#registre h2,
#contacte h2 {
    background-color: #ff8170;
    border: solid 2px black;
    padding: 15px;
    margin: 0 25% 0 25%;
}

#formulario {
    background-color: #e7f3a1;
    border: solid 2px black;
    margin: 10px auto 10px auto;
    padding: 20px;
}

#formulario .seccion_formulario {
    border: solid 2px green;
    padding: 10px;
    margin: 1% 15% 1% 15%;
    background-color: #f5ffbf;
}

#formulario form .input {
    padding: 5px;
}

#formulario button {
    padding: 10px;
}

#productes {
    margin-top: 10px;
    margin-bottom: 10px;
    padding: 10px;
    background-color: #e7f3a1;
    border: 2px solid black;
}


#productes #titulo {
    background-color: rgb(195, 195, 255);
    margin: 1% 30% 1% 30%;
    padding: 15px;
    border: solid 2px black;
}

.llista-productes {
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
    align-items: center;
    margin-top: 20px;
    margin-bottom: 20px;
}

.producte {
    margin: 10px;
    background-color: #f3f7dc;
    padding: 20px;
    border-radius: 10px;
    border: 3px solid #176433;
}

.producte h3 {
    background-color: rgb(254, 209, 126);
    border: 2px solid orange;
    border-radius: 10px;
    color: rgb(6, 6, 203);
}

.producte img {
    border: 2px solid orange;
    border-radius: 10px;
    width: 400px;
    margin-top: 5px;
}

.producte #descripcio {
    border: 2px solid orange;
    border-radius: 10px;
    background-color: white;
    margin-top: 5px;
    padding: 5px;
}

.producte #preu {
    border: 2px solid orange;
    border-radius: 10px;
    background-color: #f5ffbf;
    margin-top: 5px;
    padding: 5px;
}

.producte #formulari {
    border: 2px solid rgb(3, 106, 132);
    border-radius: 10px;
    background-color: rgb(224, 224, 255);
    margin-top: 10px;
    margin-bottom: 10px;
    padding: 10px;
}

.botonFormulario {
    margin-top: 5px;
    border: 0.5px solid black;
    border-radius: 5px;
    padding: 7 px;
}

#menu ul li.actiu {
    background-color: rgb(247, 217, 108);
    color: blue;
    font-weight: bold;
}

.main-layout {
    display: flex;
    align-items: flex-start;
    justify-content: space-between;
    margin: 0 auto;
}

.content-zone {
    flex: 1;
    min-width: 0;
}

.carret-zone {
    background-color: #f4f4f4;
    border: 4px solid #176433;
    border-radius: 8px;
    padding: 10px;
    min-width: 250px;
    max-width: 300px;
}

.info-carret {
    font-size: 14px;
    padding: 10px;
    text-align: center;
}

.info-carret h3 {
    background-color: #ffcb6b;
    border: 2px solid blue;
    padding: 5px;
    border-radius: 10px;
    color: blue;
}

.info-carret ul {
    list-style-type: none;
}

.info-carret ul li {
    background-color: #f9fabe;
    border: 2px solid blue;
    padding: 5px;
    border-radius: 10px;
    margin: 5px 10px 5px 10px;
    color: blue;
}

.log-registre { 
    background-color: #d1e7dd; padding: 5px; 
}

.log-login-correcte { 
    background-color: #cfe2ff; padding: 5px; 
}

.log-login-incorrecte { 
    background-color: #f8d7da; padding: 5px; 
}

.log-logout { 
    background-color: #fff3cd; padding: 5px; 
}

.log-eliminacio { 
    background-color: #f5c2c7; padding: 5px;
}

.log-default {
    background-color: #e2e3e5; padding: 5px;
}

.boto_enllaç {
    display: inline-block;
    text-decoration: none;
    padding: 8px 16px;
    width: 80%;
    background-color: rgb(146, 255, 206);
    color: blue;
    text-decoration: none;
    border: 2px solid blue;
    border-radius: 10px;
    font-weight: bold;
    transition: background-color 0.3s ease;
    cursor: pointer;
    margin-top: 5px;
    margin-bottom: 5px;
}

.boto_enllaç:hover {
    background-color: rgb(98, 207, 158);
}

.missatge-buit {
    font-size: 1.2rem;
    color: red;
    background-color: #ffecec;
    border: 2px solid red;
    padding: 10px;
    border-radius: 8px;
    margin: 20px;
    text-align: center;
}

#boto-retorn {
    display: inline-block;
    padding: 10px 15px;
    background-color: #c9e3ff;
    color: blue;
    border: 2px solid blue;
    text-decoration: none;
    border-radius: 5px;
    transition: background-color 0.3s ease;
}

#boto-retorn:hover {
    background-color: #9bbadb;
}

.missatge-autenticacio {
    padding: 10px;
    margin: 20px;
    color: red;
    border:2px solid red;
    background-color: rgb(254, 234, 107);
}

.resum_compra {
    padding: 10px;
    margin: 10px 30px 10px 30px;
    background-color: #bfff9a;
    border: 3px solid green;
    color: green;
}

.fitxa-carret {
    margin: 30px auto;
}

.missatge-compra {
    background-color: #e6ffe6;
    border: 1px solid #00cc66;
    padding: 10px;
    margin-bottom: 15px;
    color: #006633;
    font-weight: bold;
    border-radius: 5px;
}

.usuari-benvinguda {
    display: flex;
    align-items: center;
    gap: 10px;
}

.foto-perfil {
    width: 40px;
    height: 40px;
    border-radius: 50%;
    object-fit: cover;
}

#formCambioFoto {
    margin: 30px;
}

.mensajeCambioFoto {
    display: block;
    padding: 20px;
    margin: 5px auto;
    background-color: rgb(226, 226, 226);
    font-size: 20px;
    font-weight: bold;
    border: 3px solid black;
    border-radius: 15px;
}

.pujarEliminar {
    display: block;
    padding: 15px;
    margin: 10px auto;
    background-color: rgb(208, 229, 255);
    font-size: 20px;
    font-weight: bold;
    border: 3px solid blue;
    border-radius: 15px;
}

.paginacio {
    margin-top: 20px;
    text-align: center;
}

.paginacio a {
    margin: 0 5px;
    padding: 5px 10px;
    background-color: #eee;
    border-radius: 5px;
    text-decoration: none;
    color: #333;
}

.paginacio a:hover {
    background-color: #ccc;
}

.paginacio strong {
    margin: 0 5px;
    padding: 5px 10px;
    background-color: #333;
    color: white;
    border-radius: 5px;
}
