* {
    margin: 0;
    padding: 0;
    font-family: 'Gill Sans', 'Gill Sans MT', Calibri, 'Trebuchet MS', sans-serif;
}

#wrapper {
    width: 100%;
    margin: 1% auto;
    background-color: rgb(241, 217, 255);
}

#cap {
    width: 80%;
    margin: auto;
    margin-bottom: 0;
    border: solid 1px black;
    padding: 10px;
    background-color: rgb(243, 192, 255);
    border-radius: 40px 40px 0px 0px;
    border: solid 2px black;
    text-align: center;
}

#cap h1 {
    margin: 10px;
}

#cap h2 {
    margin: 0 30% 0 30%;
    padding: 10px;
    background-color: #cb94de;
    border-radius: 50px;
}

#contenedor_registro {
    display: flex;
    justify-content: center;
    margin: 1%;
}

.fecha_estilos {
    text-align: center;
    color: #570074;
    margin: 1%;
    padding: 10px;
    font-size: 17px;
    font-weight: bold;
    background-color: white;
    border: 4px solid #570074;
    border-radius: 30px;
}

#form_login {
    width: 80%;
    margin: auto;
    margin-top: 0;
    border: solid 2px black;
    padding: 10px;
    background-color: #82e1a6;
    display: flex;
}

#form_login form {
    position: relative;
    border: solid 4px #176433;
    width: 60%;
    margin: 10px auto;
    border-radius: 20px;
    font-weight: bold;
}

#seccion_login {
    display: flex;
    flex-wrap: wrap;
    gap: 10px;
    padding: 20px;

}

#palabra_login {
    position: absolute;
    top: -18px;
    left: 20px;
    background-color: white;
    padding: 3px 10px;
    border: solid 4px #176433;
    border-radius: 10px;
    font-weight: bold;
}

.missatgeError {
    border: solid 4px red;
    padding: 10px;
    color: red;
    background-color: white;
    text-align: center;
    border-radius: 15px;
    margin: auto;
}

#missatgeBenvinguda {
    color: red;
    font-weight: bold;
    font-size: larger;
    text-decoration: underline;
}

#menu {
    width: 80%;
    margin: auto;
    margin-top: 0;
    border: solid 2px black;
    padding: 10px;
    background-color: rgb(233, 143, 253);
    border-radius: 0px 0px 40px 40px;
}

#menu ul {
    width: 100%;
    align-items: center;
    list-style-type: none;
    display: flex;
    gap: 50px;
    justify-content: center;
}

#menu ul li {
    width: 13%;
    text-align: center;
    margin: 10px;
    padding: 15px;
    background-color: rgb(193, 128, 223);
    border: solid 2px rgb(92, 0, 129);
}

#menu a {
    text-decoration: none;
    color: inherit;
    font-weight: bold;
    color: blue;
}

#principal {
    width: 80%;
    margin: 10px auto 10px auto;
    border: solid 2px black;
    padding: 10px;
    background-color: rgb(243, 192, 255);
    text-align: center;
    border-radius: 10px;
}

#peu {
    width: 80%;
    margin: 10px auto 10px auto;
    border: solid 2px black;
    padding: 10px;
    background-color: rgb(243, 192, 255);
    border-radius: 0px 0px 40px 40px;
    text-align: center;
}

#peu p {
    width: 50%;
    margin: 10px auto 10px auto;
}

#peu img {
    width: 20%;
}

/* partials */

#inici {
    width: 80%;
    margin: 10px auto 10px auto;
    border: solid 2px black;
    padding: 10px;
    background-color: rgb(243, 192, 255);
    text-align: center;
    border-radius: 40px 40px 0px 0px;
}

#inici h2 {
    background-color: rgb(193, 128, 223);
    border: solid 2px black;
    padding: 15px;
    margin: 0 25% 0 25%;
}

#benvinguda {
    background-color: rgb(158, 109, 169);
    border: solid 2px black;
    margin: 10px auto 10px auto;
}

#benvinguda h3 {
    background-color: rgb(193, 128, 223);
    margin: 1% 30% 1% 30%;
    padding: 15px;
    border: solid 2px black;
}

#benvinguda img {
    width: 70%;
}

#frutas {
    background-color: white;
    border-radius: 40px;
    margin: 15px;
    padding: 15px;
}

#botiga,
#administracio {
    width: 80%;
    margin: 10px auto 10px auto;
    border: solid 2px black;
    padding: 10px;
    background-color: rgb(243, 192, 255);
    text-align: center;
    border-radius: 40px 40px 0px 0px;
}

#botiga h2,
#administracio h2 {
    background-color: rgb(215, 86, 244);
    border: solid 2px black;
    padding: 15px;
    margin: 0 25% 0 25%;
}

#construccio,
#admin {
    background-color: rgb(179, 82, 201);
    border: solid 2px black;
    margin: 10px auto 10px auto;
}

#construccio h3 {
    background-color: rgb(215, 86, 244);
    margin: 1% 30% 1% 30%;
    padding: 15px;
    border: solid 2px black;

}

#img_construccio,
#img_admin {
    background-color: white;
    border-radius: 40px;
    margin: 15px;
    padding: 15px;

}

#img_construccio img,
#img_admin img {
    width: 40%;
}

#correcte {
    color: green;
    font-weight: bold;
    font-size: 18px;
    background-color: rgb(224, 255, 224);
    padding: 10px;
    border: 2px solid green;
    margin: 10px auto 0 auto;
    width: 50%;
}

#error {
    color: red;
    font-weight: bold;
    font-size: 18px;
    background-color: rgb(255, 230, 230);
    padding: 10px;
    border: 2px solid red;
    margin: 10px auto 0 auto;
    width: 50%;
}

#registre,
#contacte {
    width: 80%;
    margin: 10px auto 10px auto;
    border: solid 2px black;
    padding: 10px;
    background-color: rgb(243, 192, 255);
    text-align: center;
    border-radius: 40px 40px 0px 0px;
}

#registre h2,
#contacte h2 {
    background-color: #ac23d2;
    border: solid 2px black;
    padding: 15px;
    margin: 0 25% 0 25%;
}

#formulario {
    background-color: #d667ff;
    border: solid 2px black;
    margin: 10px auto 10px auto;
    padding: 30px;
}

#interior_formulario {
    background-color: white;
    border: solid 2px black;
    margin: 0 200px 0 200px;
}

#formulario .seccion_formulario {
    border: solid 2px rgb(114, 25, 166);
    padding: 10px;
    margin: 1% 15% 1% 15%;
    background-color: #ffffff;
    display: flex;
    align-items: center;
    justify-content: center;
    gap: 10px;
}

#formulario .input {
    padding: 5px;
}

#formulario button {
    padding: 10px;
}

.rojo {
    color: red;
    font-weight: bold;
    font-size: 25px;
    text-decoration: underline;
}

.gris {
    color: gray;
    font-style: italic;
    font-weight: bold;
    font-size: 25px;
}

.seccion_formulario img {
    width: 50%;
}

table {
    width: 100%;
    border-collapse: collapse;
}

.campo {
    color: red;
    font-weight: bold;
    font-size: 25px;
    text-decoration: underline;
    text-align: right;
}

table th,
table td {
    padding: 10px;
    text-align: center;
    font-style: italic;
    border: 2px solid black;
    background-color: rgb(235, 235, 235);
    font-weight: bold;
    font-size: 25px;
}

#productes {
    margin-top: 10px;
    margin-bottom: 10px;
    padding: 10px;
    background-color: #f6d6f2;
    border: 2px solid black;
}


#productes #titulo {
    background-color: rgb(242, 195, 255);
    margin: 1% 30% 1% 30%;
    padding: 15px;
    border: solid 2px black;
}

.llista-productes {
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
    align-items: center;
    margin-top: 20px;
    margin-bottom: 20px;
}

.producte {
    margin: 10px;
    background-color: #e0a1f3;
    padding: 20px;
    border-radius: 10px;
    border: 3px solid #5b1764;
}

.producte h3 {
    background-color: rgb(226, 126, 254);
    border: 2px solid rgb(225, 0, 255);
    border-radius: 10px;
    color: rgb(6, 6, 203);
}

.producte img {
    border: 2px solid rgb(225, 0, 255);
    border-radius: 10px;
    width: 400px;
    margin-top: 5px;
}

.producte #descripcio {
    border: 2px solid rgb(225, 0, 255);
    border-radius: 10px;
    background-color: white;
    margin-top: 5px;
    padding: 5px;
}

.producte #preu {
    border: 2px solid rgb(225, 0, 255);
    border-radius: 10px;
    background-color: #ffbffb;
    margin-top: 5px;
    padding: 5px;
}

.producte #formulari {
    border: 2px solid rgb(151, 10, 173);
    border-radius: 10px;
    background-color: rgb(254, 224, 255);
    margin-top: 10px;
    margin-bottom: 10px;
    padding: 10px;
}

.botonFormulario {
    margin-top: 5px;
    border: 0.5px solid rgb(95, 25, 142);
    background-color: #f6d6f2;
    border-radius: 5px;
    padding: 7 px;
}

#menu ul li.actiu {
    background-color: rgb(144, 5, 154);
    color: rgb(255, 255, 255);
    font-weight: bold;
}


.main-layout {
    display: flex;
    align-items: flex-start;
    justify-content: space-between;
    margin: 0 auto;
}

.content-zone {
    flex: 1;
    min-width: 0;
}

.carret-zone {
    background-color: #f4f4f4;
    border: 4px solid #641755;
    border-radius: 8px;
    padding: 10px;
    min-width: 250px;
    max-width: 300px;
}

.info-carret {
    font-size: 14px;
    padding: 10px;
    text-align: center;
}

.info-carret h3 {
    background-color: rgb(136, 5, 110);
    border: 2px solid #f9b6e9;;
    padding: 5px;
    border-radius: 10px;
    color: #f9b6e9;
}

.info-carret ul {
    list-style-type: none;
}

.info-carret ul li {
    background-color: #fabef2;
    border: 2px solid rgb(136, 5, 110);
    padding: 5px;
    border-radius: 10px;
    margin: 5px 10px 5px 10px;
    color: rgb(136, 5, 110);
}

.log-registre {
    background-color: #d1e7dd;
    padding: 5px;
}

.log-login-correcte {
    background-color: #cfe2ff;
    padding: 5px;
}

.log-login-incorrecte {
    background-color: #f8d7da;
    padding: 5px;
}

.log-logout {
    background-color: #fff3cd;
    padding: 5px;
}

.log-eliminacio {
    background-color: #f5c2c7;
    padding: 5px;
}

.log-default {
    background-color: #e2e3e5;
    padding: 5px;
}

.boto_enllaç {
    display: inline-block;
    text-decoration: none;
    padding: 8px 16px;
    width: 80%;
    background-color: rgb(255, 230, 247);
    color: rgb(136, 5, 110);
    text-decoration: none;
    border: 2px solid rgb(136, 5, 110);
    border-radius: 10px;
    font-weight: bold;
    transition: 0.3s ease;
    cursor: pointer;
    margin-top: 5px;
    margin-bottom: 5px;
}

.boto_enllaç:hover {
    background-color: rgb(241, 132, 230);
}

.missatge-buit {
    font-size: 1.2rem;
    color: red;
    background-color: #ffecec;
    border: 2px solid red;
    padding: 10px;
    border-radius: 8px;
    margin: 20px;
    text-align: center;
}

#boto-retorn {
    display: inline-block;
    padding: 10px 15px;
    background-color: rgb(255, 217, 247);
    color: rgb(136, 5, 110);
    border: 2px solid rgb(136, 5, 110);
    text-decoration: none;
    border-radius: 5px;
    transition: 0.3s ease;
}

#boto-retorn:hover {
    background-color: rgb(250, 147, 229);
}

.missatge-autenticacio {
    padding: 10px;
    margin: 20px;
    color: purple;
    border:2px solid purple;
    background-color: rgb(245, 177, 245);
}

.resum_compra {
    padding: 10px;
    margin: 10px 30px 10px 30px;
    background-color: #ff9af7;
    border: 3px solid purple;
    color: purple;
}

.fitxa-carret {
    margin: 30px auto;
}

.missatge-compra {
    background-color: #ffe6fe;
    border: 1px solid #cc009c;
    padding: 10px;
    margin-bottom: 15px;
    color: #66005c;
    font-weight: bold;
    border-radius: 5px;
}